# JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1.Find the 10 countries with most projects
2.Find the top 10 major project themes (using column 'mjtheme_namecode')
3.In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

# Imports for Pandas and Json

In [3]:
import pandas as pd

In [4]:
import json
from pandas.io.json import json_normalize

In [5]:
sample_json_load=json.load((open('C:/springbord/data_wrangling_json/data_wrangling_json/data/world_bank_projects.json')))

In [7]:
# Load Json Data in Panda data Frame 
json_df = pd.read_json('C:/springbord/data_wrangling_json/data_wrangling_json/data/world_bank_projects.json')

In [8]:
# Print first 5 Row to understand data.
json_df.head(5)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{u'$oid': u'52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{u'Percent': 46, u'Name': u'Regional integrati...","[{u'code': u'47', u'name': u'Regional integrat...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{u'$oid': u'52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{u'Percent': 50, u'Name': u'Participation and ...","[{u'code': u'57', u'name': u'Participation and...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{u'$oid': u'52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Export development...","[{u'code': u'45', u'name': u'Export developmen...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [9]:
# get info about data frame
json_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 199.2+ KB

#  1.Find the 10 countries with most projects

In [10]:
# Print sample records to understand countryname and project relation
sample_df=json_normalize(sample_json_load,'mjtheme_namecode',['countryname'])
sample_df.head()

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu

In [11]:
# goupby sample data frame (by countryname) will create data frame with countryname and totla project 
sample_df1=sample_df.groupby(by='countryname').count()

In [12]:
# Sort by code value and desending order. and print top 10 row. 
sample_df1.sort_values(by='code', ascending=False).head(10)

                                 code  name
countryname
Republic of Indonesia              56    56
Republic of India                  51    51
Socialist Republic of Vietnam      43    43
People's Republic of Bangladesh    41    41
Federative Republic of Brazil      41    41
People's Republic of China         40    40
Africa                             39    39
Republic of Yemen                  34    34
Kingdom of Morocco                 32    32
Republic of Mozambique             31    31

# 2.Find the top 10 major project themes (using column 'mjtheme_namecode')

In [13]:
#group by project name and sorting in desending order will provide result
sample_df.groupby(by='name').size().sort_values(ascending=False).head(10)
# project name is blank for some row. this result will corect after task 3

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

# 3.In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [14]:
# import numpy 
import numpy as np

In [16]:
# replace blank space withh NaN vlaue to work forword or backword filling 
sample_df_rep=sample_df.replace('', np.nan, inplace=False)

In [23]:
# sort by code and forwrd fill in blank row
sample_df_fill=sample_df_rep.sort_values(by='code',ascending=False).fillna(method='pad')

In [24]:
# after fill in top 10 project list 
sample_df_fill.groupby(by='name').size().sort_values(ascending=False).head(10)

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
dtype: int64